   body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
   }
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #1E90FF;
      height: 100%;
    }
    .sidenav a, .dropdown-btn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #ffffff;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
    }
    .sidenav a:hover, .dropdown-btn:hover {
      color: #000000;
    }
    .active {
      background-color: #32CD32;
      color: #000000;
    }
    .dropdown-container {
      display: none;
      background-color: #4169E1;
      padding-left: 8px;
    }
    .glyphicon-chevron-down {
      float: right;
      padding-right: 8px;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }